<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>飞行训练管理系统</title>

    <link rel="stylesheet" href="../../Content/font/iconfont.css">
    <link rel="stylesheet" href="../../Content/css/normalize.css">
    <link rel="stylesheet" href="../../Content/css/common.css">

    <link rel="stylesheet" href="../../Content/css/main.css">


</head>

<body>

    <div class="page-wrapper">
        <aside class="aside">
            <div class="logo ">
                <h1>
                    <a href="">桌面</a>
                </h1>
                <div class="name">
                    <h2>飞行训练管理</h2>
                    <p>别名</p>
                    <p>version 1.0</p>
                </div>
            </div>
            <nav class="menu">
                <!-- ul>li.menu-item*10>(i.icon)+(span>Lorem{$ -->
                <ul>
                    <li class="menu-item selected"><i class="iconfont icon-home"></i><span>Lorem.</span></li>
                    <li class="menu-item"><i class="iconfont icon-qifei"></i><span>Quam?</span></li>
                    <li class="menu-item"><i class="iconfont icon-zhadan"></i><span>Obcaecati?</span></li>
                    <li class="menu-item"><i class="iconfont icon-fj_qifei_a"></i><span>Libero?</span></li>
                    <li class="menu-item"><i class="iconfont icon-bangongshi"></i><span>Culpa.</span></li>
                    <li class="menu-item"><i class="iconfont icon-bangongshi1"></i><span>Itaque.</span></li>
                    <li class="menu-item"><i class="iconfont icon-bangongshi1"></i><span>Neque?</span></li>
                    <li class="menu-item"><i class="iconfont"></i><span>Quae.</span></li>
                    <li class="menu-item"><i class="iconfont"></i><span>Nemo.</span></li>
                    <li class="menu-item"><i class="iconfont"></i><span>Nisi?</span></li>

                </ul>

            </nav>
        </aside>
        <div class="main-wrapper">
            <header class="header">
                <div class="search">
                    <p>这里显示什么内容？</p>
                </div>
            </header>
            <main class="main">
                <section class="content">
                    <header class="notice">
                        <div class="desc">
                            <p>重要通知</p>
                        </div>
                    </header>
                    <div class="desktop">
                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>

                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title-wrapper">
                                <div class="icon"></div>
                                <div class="title">
                                    <h4>Lorem, ipsum.</h4>
                                    <button class="btn">开始使用</button>
                                </div>
                            </div>
                            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aliquid!
                            </div>
                        </div>



                    </div>
                    <footer class="footer">

                    </footer>
                </section>
                <aside class="history">
                    <div class="history-container">
                        <header class="title">
                            历史记录
                        </header>
                        <ul>
                            <li class="history-item"><a href="">Lorem, ipsum dolor.</a></li>
                            <li class="history-item"><a href="">Harum, ipsa esse?</a></li>
                            <li class="history-item"><a href="">Tempore, veritatis dignissimos.</a></li>
                            <li class="history-item"><a href="">Quae, quisquam! Similique.</a></li>
                            <li class="history-item"><a href="">Tempore, vero pariatur.</a></li>
                            <li class="history-item"><a href="">Veritatis, aliquam iusto!</a></li>
                            <li class="history-item"><a href="">Deserunt, delectus veniam.</a></li>
                            <li class="history-item"><a href="">Repellat, repudiandae voluptas.</a></li>
                            <li class="history-item"><a href="">Excepturi, aperiam sequi.</a></li>
                            <li class="history-item"><a href="">Deserunt, deleniti quam!</a></li>
                            <li class="history-item"><a href="">Excepturi, aperiam sequi.</a></li>
                            <li class="history-item"><a href="">Deserunt, deleniti quam!</a></li>
                            <li class="history-item"><a href="">Excepturi, aperiam sequi.</a></li>
                            <li class="history-item"><a href="">Deserunt, deleniti quam!</a></li>
                        </ul>
                    </div>

                </aside>
            </main>
        </div>
    </div>


    <script src="../../Content/js/jquery-3.3.1.min.js"></script>
    <script src="../../Content/js/home.js"></script>
    <script></script>

</body>

</html>